
//** MEDIA QUERIES **

@mixin for-phone {
  @media (min-width: 768px) { @content; }
}
@mixin for-phone-only {
    @media (max-width: 768px) { @content; }
  }
  
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

//** VARIABLES **

$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors
$sunshine-yellow: #ffff30;
$dandelion: #fade0a;
$greyish-brown: #3f3f3f;


//font-family
$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Anton', sans-serif;


//font-size
$is-size-1: 21px;
$is-size-2: 19px;
$is-size-3: 16px;
$is-size-4: 12px;

